{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "auto",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"bracketSameLine": false,
	"printWidth": 100,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"useTabs": true,
	"requirePragma": false,
	"trailingComma": "es5",
	"singleQuote": true,
	"semi": false,
	"tabWidth": 4
}
